################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MMITest/v15/Server/sqlite3
/bin/Debug
/obj/x86/Debug
/.vs/MMITest/v15
/.vs/MMI/v15/.suo
/obj/x86/Release/MMITest.csproj.CoreCompileInputs.cache
/.vs
